<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <img rel="icon" href="images/weathericon.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class=main-content>
        {{>header}}
        <img class="appLogo" src="/images/weatherforecast.jpg">
    </div>
    {{>footer}}
</body>

</html>